<?xml version="1.0"?>
<config>
    <tabs>
        <templates_master>
            <label>Templates-master</label>
            <sort_order>195</sort_order>
        </templates_master>
    </tabs>
    <sections>
        <highlight translate="label" module="highlight">
            <label>Highlight</label>
            <tab>templates_master</tab>
            <frontend_type>text</frontend_type>
            <sort_order>834</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <pages translate="label" module="cms">
                    <label>Pages</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <featured_heading translate="label" module="highlight">
                            <label>Featured</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_heading>
                        <featured_title translate="label" module="cms">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_title>
                        <featured_url translate="label" module="cms">
                            <label>URL Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_url>
                        <featured_meta_keywords translate="label" module="cms">
                            <label>Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_meta_keywords>
                        <featured_meta_description translate="label" module="cms">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_meta_description>

                        <onsale_heading translate="label" module="highlight">
                            <label>On Sale</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </onsale_heading>
                        <onsale_title translate="label" module="cms">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </onsale_title>
                        <onsale_url translate="label" module="cms">
                            <label>URL Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </onsale_url>
                        <onsale_meta_keywords translate="label" module="cms">
                            <label>Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </onsale_meta_keywords>
                        <onsale_meta_description translate="label" module="cms">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>73</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </onsale_meta_description>

                        <new_heading translate="label" module="highlight">
                            <label>New Products</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_heading>
                        <new_title translate="label" module="cms">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_title>
                        <new_url translate="label" module="cms">
                            <label>URL Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_url>
                        <new_meta_keywords translate="label" module="cms">
                            <label>Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>122</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_meta_keywords>
                        <new_meta_description translate="label" module="cms">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>123</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_meta_description>

                        <bestsellers_heading translate="label" module="highlight">
                            <label>Bestsellers</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bestsellers_heading>
                        <bestsellers_title translate="label" module="cms">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bestsellers_title>
                        <bestsellers_url translate="label" module="cms">
                            <label>URL Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bestsellers_url>
                        <bestsellers_period translate="label" module="highlight">
                            <label>Calculation period, days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bestsellers_period>
                        <bestsellers_meta_keywords translate="label" module="cms">
                            <label>Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>192</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bestsellers_meta_keywords>
                        <bestsellers_meta_description translate="label" module="cms">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>193</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bestsellers_meta_description>

                        <popular_heading translate="label" module="highlight">
                            <label>Popular Products</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_heading>
                        <popular_title translate="label" module="cms">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_title>
                        <popular_url translate="label" module="cms">
                            <label>URL Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_url>
                        <popular_period translate="label" module="highlight">
                            <label>Calculation period, days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_period>
                        <popular_meta_keywords translate="label" module="cms">
                            <label>Keywords</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>232</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_meta_keywords>
                        <popular_meta_description translate="label" module="cms">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>233</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popular_meta_description>
                    </fields>
                </pages>
            </groups>
        </highlight>
    </sections>
</config>
